In [1]:
import pandas as pd
import datetime as dt
import urllib
import zipfile
import re
from datetime import datetime
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
from matplotlib.dates import HourLocator

## download GTFS data

In [2]:
url = 'http://web.mta.info/developers/data/nyct/subway/google_transit.zip'
urllib.urlretrieve (url, "GTFS_nyc_Subway.zip")

('GTFS_nyc_Subway.zip', <httplib.HTTPMessage instance at 0x10e9c5170>)

In [3]:
zip_ref = zipfile.ZipFile("GTFS_nyc_Subway.zip", 'r')
zip_ref.extractall("GTFS_nyc_Subway")
zip_ref.close()

In [45]:
stop_times= pd.read_csv('GTFS_nyc_Subway/stop_times.txt')

In [46]:
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,A20171105SAT_036000_GS.N01R,06:00:00,06:00:00,901N,1,NaN,0,0,NaN
1,A20171105SAT_036000_GS.N01R,06:01:30,06:01:30,902N,2,NaN,0,0,NaN
2,A20171105SAT_036400_GS.S01R,06:04:00,06:04:00,902S,1,NaN,0,0,NaN
3,A20171105SAT_036400_GS.S01R,06:05:30,06:05:30,901S,2,NaN,0,0,NaN
4,A20171105SAT_037000_GS.N01R,06:10:00,06:10:00,901N,1,NaN,0,0,NaN

In [47]:
stop_times.shape

(554831, 9)

Interpreting trip_id:
- A20171105SAT refers to service by Saturday schedule
- 036000 refers to trip id
- GS.N01R refers to line and North bound, and the set of stops it'll stop at

In [48]:
stop_times['service_id']=stop_times['trip_id'].apply(lambda x: x.split('_')[0])
stop_times['sub_trip_id']=stop_times['trip_id'].apply(lambda x: x.split('_')[1])
stop_times['train+direction']=stop_times['trip_id'].apply(lambda x: x.split('_')[2])
stop_times['train'] = stop_times['train+direction'].apply(lambda x: x.split('.')[0])
stop_times['direction'] = stop_times['train+direction'].apply(lambda x: x.split('.')[-1])
stop_times['day'] = stop_times['service_id'].apply(lambda x: x[-3:])

del stop_times['stop_headsign']
del stop_times['pickup_type']
del stop_times['drop_off_type']
del stop_times['shape_dist_traveled']

stop_times.head()

In [50]:
stop_times['train+direction'].unique()

array(['GS.N01R', 'GS.S01R', 'GS.N03R', 'GS.S03R', '1..S03R', '1..N03R',
       '1..S04R', '1..N12R', '1..S12R', '1..N13R', '2..S08R', '2..N08R',
       '2..S01R', '2..N01R', '2..S05R', '2..S06R', '2..S07R', '2..N03R',
       '2..N02R', '2..S03R', '2..S12R', '2..N12R', '3..S42R', '3..N42R',
       '3..S01R', '3..N01R', '3..S03R', '3..S43R', '3..N43R', '4..S01R',
       '4..N13R', '4..S13R', '4..N01R', '4..S34R', '4..N43R', '4..N02R',
       '4..S06R', '4..N06R', '4..S28R', '4..N34R', '4..S39R', '4..S36R',
       '4..S30R', '4..S05R', '4..N64R', '4..N03R', '4..S03R', '4..S10R',
       '5..S32R', '5..N32R', '5..N01R', '5..S04R', '5..N26R', '5..N64R',
       '5..S09R', '5..N71R', '5..S03R', '5..N66R', '5..N74R', '5..S08R',
       '5..N73R', '5..S07R', '5..N68R', '5..S01R', '5..N76R', '5..S02R',
       '5..N72R', '5..S21R', '5..S14R', '5..N69R', '5..S42R', '5..N60R',
       '5..N14R', '5..S12R', '5..N67R', '5..S11R', '5..S15R', '5..N65R',
       '5..S06R', '5..N70R', '5..S13R', '5..N15R', '5..N16R', '5..S16R',
       '6..S01R', '6..N01R', '6..S02R', '6..N03R', '6..S03R', '6..N07R',
       '6..S08R', '6..N02R', '6..S07R', '6..N06R', '6..S06R', '6..S13R',
       '6..S09R', '7..S97R', '7..N97R', '7..S98R', '7..N96R', '7..S96R',
       '7..N98R', '7..S99R', '7..N95R', 'GS.N04R', 'GS.S04R', 'N..S20R',
       'N..N20R', 'N..N34R', 'N..S36R', 'N..S27R', 'N..N23R', 'Q..S19R',
       'Q..N19R', 'Q..S16R', 'Q..N16R', 'R..S27R', 'R..N27R', 'R..N93R',
       'R..S71R', 'R..S98R', 'R..S36R', 'R..N96R', 'R..N76R', 'A..N43R',
       'A..S43R', 'A..N85R', 'A..N54R', 'A..N65R', 'A..S54X010',
       'A..S69X002', 'A..S04X005', 'A..S16R', 'A..S55X009', 'A..N55R',
       'A..S78R', 'A..N09R', 'A..S87R', 'A..N04R', 'A..S56R', 'A..S74R',
       'A..N18R', 'A..S37R', 'A..N86R', 'A..N17R', 'A..N37R', 'A..S52R',
       'A..N58R', 'B..S45R', 'B..N46R', 'B..N45R', 'B..S46R', 'B..N47R',
       'B..N40R', 'C..N04R', 'C..S04R', 'D..S05R', 'D..N05R', 'D..S14R',
       'D..N09R', 'D..N07R', 'D..S07R', 'D..N14R', 'D..S78R', 'E..S04R',
       'E..N05R', 'E..S69R', 'E..N72R', 'E..S71R', 'E..N66R', 'E..N70R',
       'E..N55R', 'E..S56R', 'F..S69R', 'F..N69R', 'F..S68R', 'F..N68R',
       'F..N75R', 'F..S04X001', 'F..N04X001', 'FS.S01R', 'FS.N01R',
       'G..N14R', 'G..S14R', 'G..N16R', 'G..S16R', 'G..N13R', 'H..N21R',
       'H..S21R', 'J..S12R', 'J..N12R', 'J..S21R', 'J..N21R', 'J..S54R',
       'J..N22R', 'J..N13R', 'J..N60R', 'J..S22R', 'J..N54R', 'L..N02R',
       'L..S01R', 'L..N01R', 'L..S05R', 'L..N05R', 'M..S19R', 'M..N19R',
       'M..N50R', 'M..S27R', 'M..N27R', 'M..S41R', 'M..S62R', 'M..N62R',
       'M..N22R', 'M..N17R', 'M..S17R', 'N..N33R', 'N..S34R', 'N..N63R',
       'N..S16R', 'N..N31R', 'N..S31R', 'N..S72R', 'N..N72R', 'N..S42R',
       'N..N35R', 'N..S70R', 'N..S35R', 'N..N70R', 'N..N74R', 'N..N67R',
       'SI.S03R', 'SI.N03R', 'SI.S02R', 'SI.N16R', 'SI.S07R', 'SI.N28R',
       'SI.N02R'], dtype=object)

In [18]:
#drop all records with time > 24:00:00
stop_times = stop_times.drop(stop_times[(stop_times.arrival_time > '23:59:59')].index)

In [20]:
stop_times['arrival_time'] =  pd.to_datetime(stop_times['arrival_time'], format='%H:%M:%S').dt.time

In [21]:
stop_times.dtypes

trip_id            object
arrival_time       object
departure_time     object
stop_id            object
stop_sequence       int64
service_id         object
sub_trip_id        object
train+direction    object
train              object
day                object
dtype: object

In [22]:
stop_times.shape

(536886, 10)

In [23]:
stop_times['trip_id'].nunique()

20351

In [24]:
stop_times['train'].unique()

array(['GS', '1', '2', '3', '4', '5', '6', '7', 'N', 'Q', 'R', 'A', 'B',
       'C', 'D', 'E', 'F', 'FS', 'G', 'H', 'J', 'L', 'M', 'SI'], dtype=object)

In [25]:
stop_times['day'].unique()

array(['SAT', 'SUN', 'WKD'], dtype=object)

In [26]:
stop_times.loc[stop_times[stop_times['train+direction'].isin(['N..N72R','N..S72R'])].index,['train']]='W'

In [28]:
stop_times.to_csv('stop_times_cleaned.csv', index=False)

No Z train info in schedule data. Z is same as J.

FS(Brooklyn), GS(Time sq- Grand Central), H(JFK) are all S train in map,

In [29]:
stops=pd.read_csv('GTFS_nyc_Subway/stops.txt')

In [30]:
stop_times = stop_times.merge(stops[['stop_id','stop_name','stop_lat','stop_lon']],on='stop_id',how='left')

In [31]:
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,service_id,sub_trip_id,train+direction,train,day,stop_name,stop_lat,stop_lon
0,A20171105SAT_036000_GS.N01R,06:00:00,06:00:00,901N,1,A20171105SAT,036000,GS.N01R,GS,SAT,Grand Central - 42 St,40.752769,-73.979189
1,A20171105SAT_036000_GS.N01R,06:01:30,06:01:30,902N,2,A20171105SAT,036000,GS.N01R,GS,SAT,Times Sq - 42 St,40.755983,-73.986229
2,A20171105SAT_036400_GS.S01R,06:04:00,06:04:00,902S,1,A20171105SAT,036400,GS.S01R,GS,SAT,Times Sq - 42 St,40.755983,-73.986229
3,A20171105SAT_036400_GS.S01R,06:05:30,06:05:30,901S,2,A20171105SAT,036400,GS.S01R,GS,SAT,Grand Central - 42 St,40.752769,-73.979189
4,A20171105SAT_037000_GS.N01R,06:10:00,06:10:00,901N,1,A20171105SAT,037000,GS.N01R,GS,SAT,Grand Central - 42 St,40.752769,-73.979189

In [32]:
stop_times.shape

(536886, 13)

In [33]:
stop_times['arrival_time'] = stop_times['arrival_time'].astype(datetime)

In [34]:
stop_times.dtypes

trip_id             object
arrival_time        object
departure_time      object
stop_id             object
stop_sequence        int64
service_id          object
sub_trip_id         object
train+direction     object
train               object
day                 object
stop_name           object
stop_lat           float64
stop_lon           float64
dtype: object

In [42]:
stop_times.to_csv('stops_and_times.csv', index=False)

## Visualize by lines

In [35]:
dict_of_regions = {k: v for k, v in stop_times.groupby('train')}

In [36]:
#for line 1
dict_of_regions['1'].head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,service_id,sub_trip_id,train+direction,train,day,stop_name,stop_lat,stop_lon
1356,A20171105WKD_029750_1..S03R,04:57:30,04:57:30,101S,1,A20171105WKD,029750,1..S03R,1,WKD,Van Cortlandt Park - 242 St,40.889248,-73.898583
1357,A20171105WKD_029750_1..S03R,04:59:00,04:59:00,103S,2,A20171105WKD,029750,1..S03R,1,WKD,238 St,40.884667,-73.900870
1358,A20171105WKD_029750_1..S03R,05:00:30,05:00:30,104S,3,A20171105WKD,029750,1..S03R,1,WKD,231 St,40.878856,-73.904834
1359,A20171105WKD_029750_1..S03R,05:02:00,05:02:00,106S,4,A20171105WKD,029750,1..S03R,1,WKD,Marble Hill - 225 St,40.874561,-73.909831
1360,A20171105WKD_029750_1..S03R,05:03:30,05:03:30,107S,5,A20171105WKD,029750,1..S03R,1,WKD,215 St,40.869444,-73.915279

In [37]:
dict_of_regions['1']['arrival_time'].unique()

array([datetime.time(4, 57, 30), datetime.time(4, 59),
       datetime.time(5, 0, 30), ..., datetime.time(4, 33),
       datetime.time(5, 13), datetime.time(5, 19, 30)], dtype=object)

In [38]:
dict_of_regions['1']['train+direction'].unique()

array(['1..S03R', '1..N03R', '1..S04R', '1..N12R', '1..S12R', '1..N13R'], dtype=object)

In [39]:
dict_of_regions['1']['sub_trip_id'].nunique()

873

In [40]:
#filter only northbound
north = ['1..N03R', '1..N12R', '1..N13R']
df1N = dict_of_regions['1'].loc[dict_of_regions['1']['train+direction'].isin(north)]

In [41]:
df1N.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,service_id,sub_trip_id,train+direction,train,day,stop_name,stop_lat,stop_lon
1394,A20171105WKD_036150_1..N03R,06:01:30,06:01:30,142N,1,A20171105WKD,036150,1..N03R,1,WKD,South Ferry,40.702068,-74.013664
1395,A20171105WKD_036150_1..N03R,06:04:00,06:04:00,139N,2,A20171105WKD,036150,1..N03R,1,WKD,Rector St,40.707513,-74.013783
1396,A20171105WKD_036150_1..N03R,06:05:00,06:05:00,138N,3,A20171105WKD,036150,1..N03R,1,WKD,Cortlandt St,40.711835,-74.012188
1397,A20171105WKD_036150_1..N03R,06:06:00,06:06:00,137N,4,A20171105WKD,036150,1..N03R,1,WKD,Chambers St,40.715478,-74.009266
1398,A20171105WKD_036150_1..N03R,06:07:30,06:07:30,136N,5,A20171105WKD,036150,1..N03R,1,WKD,Franklin St,40.719318,-74.006886