In [42]:
import pandas as pd
import datetime as dt
import urllib
import zipfile
import re
from geopy.distance import vincenty

In [43]:
url = 'http://web.mta.info/developers/data/nyct/subway/google_transit.zip'
urllib.urlretrieve (url, "GTFS_nyc_Subway.zip")

('GTFS_nyc_Subway.zip', <httplib.HTTPMessage instance at 0x114c05cb0>)

In [44]:
zip_ref = zipfile.ZipFile("GTFS_nyc_Subway.zip", 'r')
zip_ref.extractall("GTFS_nyc_Subway")
zip_ref.close()

In [45]:
stop_times= pd.read_csv('GTFS_nyc_Subway/stop_times.txt')

In [46]:
stop_times.head(2)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,A20171105SAT_036000_GS.N01R,06:00:00,06:00:00,901N,1,NaN,0,0,NaN
1,A20171105SAT_036000_GS.N01R,06:01:30,06:01:30,902N,2,NaN,0,0,NaN

In [47]:
stop_times['service_id']=stop_times['trip_id'].apply(lambda x: x.split('_')[0])
stop_times['sub_trip_id']=stop_times['trip_id'].apply(lambda x: x.split('_')[1])
stop_times['train+direction']=stop_times['trip_id'].apply(lambda x: x.split('_')[2])
del stop_times['stop_headsign']
del stop_times['pickup_type']
del stop_times['drop_off_type']
del stop_times['shape_dist_traveled']

In [48]:
stop_times['train'] = stop_times['train+direction'].apply(lambda x: x.split('.')[0])
stop_times['day'] = stop_times['service_id'].apply(lambda x: x[-3:])

In [49]:
stop_times.loc[stop_times[stop_times['train+direction'].isin(['N..N72R','N..S72R'])].index,['train']]='W'

In [50]:
stop_train= stop_times[['stop_id','train']].drop_duplicates()

In [51]:
stop_train['stop_id'] = map(lambda x:x[:-1],stop_train['stop_id'])

In [52]:
stop_train = stop_train.drop_duplicates().sort_values(['train','stop_id']).reset_index(drop= True)

In [53]:
set(stop_train.train)

{'1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'FS',
 'G',
 'GS',
 'H',
 'J',
 'L',
 'M',
 'N',
 'Q',
 'R',
 'SI',
 'W'}

In [54]:
stops=pd.read_csv('GTFS_nyc_Subway/stops.txt')

In [55]:
stop_train1 = stop_train.merge(stops[['stop_id','stop_name','stop_lat','stop_lon']],on='stop_id',how='left')

In [56]:
stop_train1.to_csv('static/data/GTFS_nyc_Subway/stop_train.csv', index=False)

In [57]:
stop_train1.head()

  stop_id train                    stop_name   stop_lat   stop_lon
0     101     1  Van Cortlandt Park - 242 St  40.889248 -73.898583
1     103     1                       238 St  40.884667 -73.900870
2     104     1                       231 St  40.878856 -73.904834
3     106     1         Marble Hill - 225 St  40.874561 -73.909831
4     107     1                       215 St  40.869444 -73.915279

In [58]:
stop_times['stop_id'] = stop_times['stop_id'].str[:-1]

In [59]:
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,service_id,sub_trip_id,train+direction,train,day
0,A20171105SAT_036000_GS.N01R,06:00:00,06:00:00,901,1,A20171105SAT,036000,GS.N01R,GS,SAT
1,A20171105SAT_036000_GS.N01R,06:01:30,06:01:30,902,2,A20171105SAT,036000,GS.N01R,GS,SAT
2,A20171105SAT_036400_GS.S01R,06:04:00,06:04:00,902,1,A20171105SAT,036400,GS.S01R,GS,SAT
3,A20171105SAT_036400_GS.S01R,06:05:30,06:05:30,901,2,A20171105SAT,036400,GS.S01R,GS,SAT
4,A20171105SAT_037000_GS.N01R,06:10:00,06:10:00,901,1,A20171105SAT,037000,GS.N01R,GS,SAT

In [60]:
stop_times['train+direction'].unique()

array(['GS.N01R', 'GS.S01R', 'GS.N03R', 'GS.S03R', '1..S03R', '1..N03R',
       '1..S04R', '1..N12R', '1..S12R', '1..N13R', '2..S08R', '2..N08R',
       '2..S01R', '2..N01R', '2..S05R', '2..S06R', '2..S07R', '2..N03R',
       '2..N02R', '2..S03R', '2..S12R', '2..N12R', '3..S42R', '3..N42R',
       '3..S01R', '3..N01R', '3..S03R', '3..S43R', '3..N43R', '4..S01R',
       '4..N13R', '4..S13R', '4..N01R', '4..S34R', '4..N43R', '4..N02R',
       '4..S06R', '4..N06R', '4..S28R', '4..N34R', '4..S39R', '4..S36R',
       '4..S30R', '4..S05R', '4..N64R', '4..N03R', '4..S03R', '4..S10R',
       '5..S32R', '5..N32R', '5..N01R', '5..S04R', '5..N26R', '5..N64R',
       '5..S09R', '5..N71R', '5..S03R', '5..N66R', '5..N74R', '5..S08R',
       '5..N73R', '5..S07R', '5..N68R', '5..S01R', '5..N76R', '5..S02R',
       '5..N72R', '5..S21R', '5..S14R', '5..N69R', '5..S42R', '5..N60R',
       '5..N14R', '5..S12R', '5..N67R', '5..S11R', '5..S15R', '5..N65R',
       '5..S06R', '5..N70R', '5..S13R', '5..N15R', '5..N16R', '5..S16R',
       '6..S01R', '6..N01R', '6..S02R', '6..N03R', '6..S03R', '6..N07R',
       '6..S08R', '6..N02R', '6..S07R', '6..N06R', '6..S06R', '6..S13R',
       '6..S09R', '7..S97R', '7..N97R', '7..S98R', '7..N96R', '7..S96R',
       '7..N98R', '7..S99R', '7..N95R', 'GS.N04R', 'GS.S04R', 'N..S20R',
       'N..N20R', 'N..N34R', 'N..S36R', 'N..S27R', 'N..N23R', 'Q..S19R',
       'Q..N19R', 'Q..S16R', 'Q..N16R', 'R..S27R', 'R..N27R', 'R..N93R',
       'R..S71R', 'R..S98R', 'R..S36R', 'R..N96R', 'R..N76R', 'A..N43R',
       'A..S43R', 'A..N85R', 'A..N54R', 'A..N65R', 'A..S54X010',
       'A..S69X002', 'A..S04X005', 'A..S16R', 'A..S55X009', 'A..N55R',
       'A..S78R', 'A..N09R', 'A..S87R', 'A..N04R', 'A..S56R', 'A..S74R',
       'A..N18R', 'A..S37R', 'A..N86R', 'A..N17R', 'A..N37R', 'A..S52R',
       'A..N58R', 'B..S45R', 'B..N46R', 'B..N45R', 'B..S46R', 'B..N47R',
       'B..N40R', 'C..N04R', 'C..S04R', 'D..S05R', 'D..N05R', 'D..S14R',
       'D..N09R', 'D..N07R', 'D..S07R', 'D..N14R', 'D..S78R', 'E..S04R',
       'E..N05R', 'E..S69R', 'E..N72R', 'E..S71R', 'E..N66R', 'E..N70R',
       'E..N55R', 'E..S56R', 'F..S69R', 'F..N69R', 'F..S68R', 'F..N68R',
       'F..N75R', 'F..S04X001', 'F..N04X001', 'FS.S01R', 'FS.N01R',
       'G..N14R', 'G..S14R', 'G..N16R', 'G..S16R', 'G..N13R', 'H..N21R',
       'H..S21R', 'J..S12R', 'J..N12R', 'J..S21R', 'J..N21R', 'J..S54R',
       'J..N22R', 'J..N13R', 'J..N60R', 'J..S22R', 'J..N54R', 'L..N02R',
       'L..S01R', 'L..N01R', 'L..S05R', 'L..N05R', 'M..S19R', 'M..N19R',
       'M..N50R', 'M..S27R', 'M..N27R', 'M..S41R', 'M..S62R', 'M..N62R',
       'M..N22R', 'M..N17R', 'M..S17R', 'N..N33R', 'N..S34R', 'N..N63R',
       'N..S16R', 'N..N31R', 'N..S31R', 'N..S72R', 'N..N72R', 'N..S42R',
       'N..N35R', 'N..S70R', 'N..S35R', 'N..N70R', 'N..N74R', 'N..N67R',
       'SI.S03R', 'SI.N03R', 'SI.S02R', 'SI.N16R', 'SI.S07R', 'SI.N28R',
       'SI.N02R'], dtype=object)

In [61]:
stop_sequence = stop_times[['stop_id','train','stop_sequence', 'train+direction']].drop_duplicates().reset_index()
del stop_sequence['index']

In [62]:
stop_train2 = stop_train1.merge(stop_sequence, on=['stop_id', 'train'])

In [63]:
stop_train2 = stop_train2.sort_values(['train+direction', 'stop_sequence'])

In [64]:
stop_train2

,stop_id,train,stop_name,stop_lat,stop_lon,stop_sequence,train+direction
194,142,1,South Ferry,40.702068,-74.013664,1,1..N03R
188,139,1,Rector St,40.707513,-74.013783,2,1..N03R
182,138,1,Cortlandt St,40.711835,-74.012188,3,1..N03R
176,137,1,Chambers St,40.715478,-74.009266,4,1..N03R
170,136,1,Franklin St,40.719318,-74.006886,5,1..N03R
164,135,1,Canal St,40.722854,-74.006277,6,1..N03R
158,134,1,Houston St,40.728251,-74.005367,7,1..N03R
152,133,1,Christopher St - Sheridan Sq,40.733422,-74.002906,8,1..N03R
146,132,1,14 St,40.737826,-74.000201,9,1..N03R
140,131,1,18 St,40.741040,-73.997871,10,1..N03R
134,130,1,23 St,40.744081,-73.995657,11,1..N03R
128,129,1,28 St,40.747215,-73.993365,12,1..N03R
122,128,1,34 St - Penn Station,40.750373,-73.991057,13,1..N03R
116,127,1,Times Sq - 42 St,40.755290,-73.987495,14,1..N03R
110,126,1,50 St,40.761728,-73.983849,15,1..N03R
104,125,1,59 St - Columbus Circle,40.768247,-73.981929,16,1..N03R
98,124,1,66 St - Lincoln Center,40.773440,-73.982209,17,1..N03R
92,123,1,72 St,40.778453,-73.981970,18,1..N03R
86,122,1,79 St,40.783934,-73.979917,19,1..N03R
80,121,1,86 St,40.788644,-73.976218,20,1..N03R
74,120,1,96 St,40.793919,-73.972323,21,1..N03R
68,119,1,103 St,40.799446,-73.968379,22,1..N03R
62,118,1,Cathedral Pkwy,40.803967,-73.966847,23,1..N03R
56,117,1,116 St - Columbia University,40.807722,-73.964110,24,1..N03R
50,116,1,125 St,40.815581,-73.958372,25,1..N03R
44,115,1,137 St - City College,40.822008,-73.953676,26,1..N03R
40,114,1,145 St,40.826551,-73.950360,27,1..N03R
36,113,1,157 St,40.834041,-73.944890,28,1..N03R
32,112,1,168 St - Washington Hts,40.840556,-73.940133,29,1..N03R
28,111,1,181 St,40.849505,-73.933596,30,1..N03R
...,...,...,...,...,...,...,...
6500,S30,SI,Tompkinsville,40.636949,-74.074835,2,SI.S03R
6495,S29,SI,Stapleton,40.627915,-74.075162,3,SI.S03R
6490,S28,SI,Clifton,40.621319,-74.071402,4,SI.S03R
6485,S27,SI,Grasmere,40.603117,-74.084087,5,SI.S03R
6480,S26,SI,Old Town,40.596612,-74.087368,6,SI.S03R
6475,S25,SI,Dongan Hills,40.588849,-74.096090,7,SI.S03R
6470,S24,SI,Jefferson Av,40.583591,-74.103338,8,SI.S03R
6465,S23,SI,Grant City,40.578965,-74.109704,9,SI.S03R
6459,S22,SI,New Dorp,40.573480,-74.117210,10,SI.S03R
6453,S21,SI,Oakwood Heights,40.565110,-74.126320,11,SI.S03R
6447,S20,SI,Bay Terrace,40.556400,-74.136907,12,SI.S03R
6440,S19,SI,Great Kills,40.551231,-74.151399,13,SI.S03R
6435,S18,SI,Eltingville,40.544601,-74.164570,14,SI.S03R
6430,S17,SI,Annadale,40.540460,-74.178217,15,SI.S03R
6425,S16,SI,Huguenot,40.533674,-74.191794,16,SI.S03R
6421,S15,SI,Prince's Bay,40.525507,-74.200064,17,SI.S03R
6417,S14,SI,Pleasant Plains,40.522410,-74.217847,18,SI.S03R
6413,S13,SI,Richmond Valley,40.519631,-74.229141,19,SI.S03R
6409,S11,SI,Arthur Kill,40.516578,-74.242096,20,SI.S03R
6405,S09,SI,Tottenville,40.512764,-74.251961,21,SI.S03R
6509,S31,SI,St George,40.643748,-74.073643,1,SI.S07R
6444,S19,SI,Great Kills,40.551231,-74.151399,2,SI.S07R
6438,S18,SI,Eltingville,40.544601,-74.164570,3,SI.S07R
6433,S17,SI,Annadale,40.540460,-74.178217,4,SI.S07R
6428,S16,SI,Huguenot,40.533674,-74.191794,5,SI.S07R
6423,S15,SI,Prince's Bay,40.525507,-74.200064,6,SI.S07R
6419,S14,SI,Pleasant Plains,40.522410,-74.217847,7,SI.S07R
6415,S13,SI,Richmond Valley,40.519631,-74.229141,8,SI.S07R
6411,S11,SI,Arthur Kill,40.516578,-74.242096,9,SI.S07R
6407,S09,SI,Tottenville,40.512764,-74.251961,10,SI.S07R

In [65]:
stop_train2 = stop_train2.groupby('train').apply(lambda df: df[
    df['train+direction'] == 
    df.groupby('train+direction').apply(lambda x: x['stop_sequence'].max()).idxmax()
]).reset_index(drop=True)
stop_train2.groupby('train').apply(lambda x: x['train+direction'].unique())

train
1     [1..N03R]
2     [2..N08R]
3     [3..N01R]
4     [4..N13R]
5     [5..N15R]
6     [6..N01R]
7     [7..N97R]
A     [A..N09R]
B     [B..N45R]
C     [C..N04R]
D     [D..N05R]
E     [E..N05R]
F     [F..N69R]
FS    [FS.N01R]
G     [G..N13R]
GS    [GS.N01R]
H     [H..N21R]
J     [J..N12R]
L     [L..N01R]
M     [M..N27R]
N     [N..N20R]
Q     [Q..N19R]
R     [R..N93R]
SI    [SI.N03R]
W     [N..N72R]
dtype: object

In [66]:
stop_train2.loc[stop_train2['train'] == 'F']

,stop_id,train,stop_name,stop_lat,stop_lon,stop_sequence,train+direction
496,D43,F,Coney Island - Stillwell Av,40.577422,-73.981233,1,F..N69R
497,D42,F,W 8 St - NY Aquarium,40.576127,-73.975939,2,F..N69R
498,F39,F,Neptune Av,40.581011,-73.974574,3,F..N69R
499,F38,F,Avenue X,40.589620,-73.974250,4,F..N69R
500,F36,F,Avenue U,40.596063,-73.973357,5,F..N69R
501,F35,F,Kings Hwy,40.603217,-73.972361,6,F..N69R
502,F34,F,Avenue P,40.608944,-73.973022,7,F..N69R
503,F33,F,Avenue N,40.615140,-73.974197,8,F..N69R
504,F32,F,Bay Pkwy,40.620769,-73.975264,9,F..N69R
505,F31,F,Avenue I,40.625322,-73.976127,10,F..N69R
506,F30,F,18 Av,40.629755,-73.976971,11,F..N69R
507,F29,F,Ditmas Av,40.636119,-73.978172,12,F..N69R
508,F27,F,Church Av,40.644041,-73.979678,13,F..N69R
509,F26,F,Fort Hamilton Pkwy,40.650782,-73.975776,14,F..N69R
510,F25,F,15 St - Prospect Park,40.660365,-73.979493,15,F..N69R
511,F24,F,7 Av,40.666271,-73.980305,16,F..N69R
512,F23,F,4 Av,40.670272,-73.989779,17,F..N69R
513,F22,F,Smith - 9 Sts,40.673580,-73.995959,18,F..N69R
514,F21,F,Carroll St,40.680303,-73.995048,19,F..N69R
515,F20,F,Bergen St,40.686145,-73.990862,20,F..N69R
516,A41,F,Jay St - MetroTech,40.692338,-73.987342,21,F..N69R
517,F18,F,York St,40.701397,-73.986751,22,F..N69R
518,F16,F,East Broadway,40.713715,-73.990173,23,F..N69R
519,F15,F,Delancey St,40.718611,-73.988114,24,F..N69R
520,F14,F,2 Av,40.723402,-73.989938,25,F..N69R
521,D21,F,Broadway-Lafayette St,40.725297,-73.996204,26,F..N69R
522,D20,F,W 4 St,40.732338,-74.000495,27,F..N69R
523,D19,F,14 St,40.738228,-73.996209,28,F..N69R
524,D18,F,23 St,40.742878,-73.992821,29,F..N69R
525,D17,F,34 St - Herald Sq,40.749719,-73.987823,30,F..N69R
526,D16,F,42 St - Bryant Pk,40.754222,-73.984569,31,F..N69R
527,D15,F,47-50 Sts - Rockefeller Ctr,40.758663,-73.981329,32,F..N69R
528,B10,F,57 St,40.763972,-73.977450,33,F..N69R
529,B08,F,Lexington Av/63 St,40.764629,-73.966113,34,F..N69R
530,B06,F,Roosevelt Island,40.759145,-73.953260,35,F..N69R
531,B04,F,21 St - Queensbridge,40.754203,-73.942836,36,F..N69R
532,G14,F,Jackson Hts - Roosevelt Av,40.746644,-73.891338,37,F..N69R
533,G08,F,Forest Hills - 71 Av,40.721691,-73.844521,38,F..N69R
534,F07,F,75 Av,40.718331,-73.837324,39,F..N69R
535,F06,F,Kew Gardens - Union Tpke,40.714441,-73.831008,40,F..N69R
536,F05,F,Briarwood - Van Wyck Blvd,40.709179,-73.820574,41,F..N69R
537,F04,F,Sutphin Blvd,40.705460,-73.810708,42,F..N69R
538,F03,F,Parsons Blvd,40.707564,-73.803326,43,F..N69R
539,F02,F,169 St,40.710470,-73.793604,44,F..N69R
540,F01,F,Jamaica - 179 St,40.712646,-73.783817,45,F..N69R

In [67]:
stop_train2.to_csv('static/data/GTFS_nyc_Subway/stop_train.csv', index=False)

In [68]:
stop_train['node_id']= stop_train['stop_id'] + '_' + stop_train['train']

In [69]:
stop_train2.head()

,stop_id,train,stop_name,stop_lat,stop_lon,stop_sequence,train+direction
0,142,1,South Ferry,40.702068,-74.013664,1,1..N03R
1,139,1,Rector St,40.707513,-74.013783,2,1..N03R
2,138,1,Cortlandt St,40.711835,-74.012188,3,1..N03R
3,137,1,Chambers St,40.715478,-74.009266,4,1..N03R
4,136,1,Franklin St,40.719318,-74.006886,5,1..N03R

In [70]:
transfer = stop_train2.groupby('stop_name')['train'].apply(lambda x: x.tolist()).rename('lines')
transfer.head()

stop_name
1 Av                                    [L]
103 St                   [1, 4, 6, A, B, C]
103 St - Corona Plaza                   [7]
104 St                                  [J]
110 St                               [4, 6]
Name: lines, dtype: object

In [71]:
transfer.to_csv('static/data/GTFS_nyc_Subway/transfer_train.csv', index=False)

In [72]:
transfer = transfer.to_frame().reset_index()

In [73]:
stop_train2 = stop_train2.merge(transfer, on='stop_name')

In [74]:
stop_train2.head(10)

,stop_id,train,stop_name,stop_lat,stop_lon,stop_sequence,train+direction,lines
0,142,1,South Ferry,40.702068,-74.013664,1,1..N03R,"[1, 5]"
1,142,5,South Ferry,40.702068,-74.013664,1,5..N15R,"[1, 5]"
2,139,1,Rector St,40.707513,-74.013783,2,1..N03R,"[1, 5, N, R, W]"
3,139,5,Rector St,40.707513,-74.013783,2,5..N15R,"[1, 5, N, R, W]"
4,R26,N,Rector St,40.707220,-74.013342,24,N..N20R,"[1, 5, N, R, W]"
5,R26,R,Rector St,40.707220,-74.013342,18,R..N93R,"[1, 5, N, R, W]"
6,R26,W,Rector St,40.707220,-74.013342,2,N..N72R,"[1, 5, N, R, W]"
7,138,1,Cortlandt St,40.711835,-74.012188,3,1..N03R,"[1, 5, N, R, W]"
8,138,5,Cortlandt St,40.711835,-74.012188,3,5..N15R,"[1, 5, N, R, W]"
9,R25,N,Cortlandt St,40.710668,-74.011029,25,N..N20R,"[1, 5, N, R, W]"

In [75]:
stop_train2.to_pickle('static/data/GTFS_nyc_Subway/stop_train.pkl')

In [76]:
stop_train2.to_csv('static/data/GTFS_nyc_Subway/stop_train.csv', index=False)

In [38]:
route_id = transfer.merge(stop_train2, on='stop_name')
route_id.head()

,stop_name,lines_x,stop_id,train,stop_lat,stop_lon,stop_sequence,train+direction,lines_y
0,1 Av,[L],L06,L,40.730953,-73.981628,20,L..N01R,[L]
1,103 St,"[1, 4, 6, A, B, C]",119,1,40.799446,-73.968379,22,1..N03R,"[1, 4, 6, A, B, C]"
2,103 St,"[1, 4, 6, A, B, C]",624,4,40.790600,-73.947478,37,4..N13R,"[1, 4, 6, A, B, C]"
3,103 St,"[1, 4, 6, A, B, C]",624,6,40.790600,-73.947478,17,6..N01R,"[1, 4, 6, A, B, C]"
4,103 St,"[1, 4, 6, A, B, C]",A18,A,40.796092,-73.961454,46,A..N09R,"[1, 4, 6, A, B, C]"

In [58]:
route_id.columns = ['stop_name', 'line_num', 'stop_id', 'route_id', 'stop_lat', 'stop_lon', 'node_id']
route_id.head()

  stop_name  line_num stop_id route_id   stop_lat   stop_lon node_id
0      1 Av         1     L06        L  40.730953 -73.981628   L06_L
1    103 St         6     119        1  40.799446 -73.968379   119_1
2    103 St         6     624        4  40.790600 -73.947478   624_4
3    103 St         6     624        6  40.790600 -73.947478   624_6
4    103 St         6     A18        A  40.796092 -73.961454   A18_A

In [59]:
route_id.to_csv('route_id.csv')

In [40]:
shape = pd.read_csv('static/data/GTFS_nyc_Subway/shapes.txt')
shape.head()

  shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence  shape_dist_traveled
0  1..N03R     40.702068    -74.013664                  0                  NaN
1  1..N03R     40.703199    -74.014792                  1                  NaN
2  1..N03R     40.703226    -74.014820                  2                  NaN
3  1..N03R     40.703253    -74.014846                  3                  NaN
4  1..N03R     40.703280    -74.014870                  4                  NaN

In [77]:
#get lines
shape['lines'], shape['route'] = zip(*shape['shape_id'].map(lambda x: x.split('.')))

In [81]:
del shape['route']

In [83]:
routes = pd.read_csv('static/data/GTFS_nyc_Subway/routes.txt')
routes.head()

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,1,MTA NYCT,1,Broadway - 7 Avenue Local,Trains operate between 242 St in the Bronx and...,1,http://web.mta.info/nyct/service/pdf/t1cur.pdf,EE352E,NaN
1,2,MTA NYCT,2,7 Avenue Express,"Trains operate between Wakefield-241 St, Bronx...",1,http://web.mta.info/nyct/service/pdf/t2cur.pdf,EE352E,
2,3,MTA NYCT,3,7 Avenue Express,"Trains operate between 148 St, 7 Av, Manhattan...",1,http://web.mta.info/nyct/service/pdf/t3cur.pdf,EE352E,NaN
3,4,MTA NYCT,4,Lexington Avenue Express,Trains operate daily between Woodlawn/Jerome A...,1,http://web.mta.info/nyct/service/pdf/t4cur.pdf,00933C,NaN
4,5,MTA NYCT,5,Lexington Avenue Express,"Weekdays daytime, most trains operate between ...",1,http://web.mta.info/nyct/service/pdf/t5cur.pdf,00933C,NaN

In [84]:
shape.shape, routes.shape

((122382, 6), (29, 9))

In [88]:
new_shape = shape.merge(routes, left_on='lines', right_on='route_id')

In [93]:
new_shape = new_shape[['shape_id', 'shape_pt_lat', 'shape_pt_lon', 'shape_pt_sequence','shape_dist_traveled', 'route_color']]

In [94]:
new_shape.to_csv('static/data/GTFS_nyc_Subway/new_shape.csv', index=False)

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled,route_color
0,1..N03R,40.702068,-74.013664,0,NaN,EE352E
1,1..N03R,40.703199,-74.014792,1,NaN,EE352E
2,1..N03R,40.703226,-74.014820,2,NaN,EE352E
3,1..N03R,40.703253,-74.014846,3,NaN,EE352E
4,1..N03R,40.703280,-74.014870,4,NaN,EE352E
5,1..N03R,40.703307,-74.014893,5,NaN,EE352E
6,1..N03R,40.703335,-74.014914,6,NaN,EE352E
7,1..N03R,40.703363,-74.014933,7,NaN,EE352E
8,1..N03R,40.703391,-74.014952,8,NaN,EE352E
9,1..N03R,40.703419,-74.014968,9,NaN,EE352E
10,1..N03R,40.703448,-74.014983,10,NaN,EE352E
11,1..N03R,40.703477,-74.014997,11,NaN,EE352E
12,1..N03R,40.703506,-74.015009,12,NaN,EE352E
13,1..N03R,40.703536,-74.015019,13,NaN,EE352E
14,1..N03R,40.703566,-74.015028,14,NaN,EE352E
15,1..N03R,40.703596,-74.015035,15,NaN,EE352E
16,1..N03R,40.703625,-74.015041,16,NaN,EE352E
17,1..N03R,40.704168,-74.015122,17,NaN,EE352E
18,1..N03R,40.704194,-74.015125,18,NaN,EE352E
19,1..N03R,40.704221,-74.015126,19,NaN,EE352E
20,1..N03R,40.704247,-74.015127,20,NaN,EE352E
21,1..N03R,40.704274,-74.015127,21,NaN,EE352E
22,1..N03R,40.704300,-74.015125,22,NaN,EE352E
23,1..N03R,40.704327,-74.015123,23,NaN,EE352E
24,1..N03R,40.704354,-74.015119,24,NaN,EE352E
25,1..N03R,40.704380,-74.015115,25,NaN,EE352E
26,1..N03R,40.704407,-74.015109,26,NaN,EE352E
27,1..N03R,40.704434,-74.015102,27,NaN,EE352E
28,1..N03R,40.704461,-74.015094,28,NaN,EE352E
29,1..N03R,40.704487,-74.015086,29,NaN,EE352E
...,...,...,...,...,...,...
122352,SI.S31R,40.515565,-74.244989,660,NaN,NaN
122353,SI.S31R,40.515557,-74.245028,661,NaN,NaN
122354,SI.S31R,40.515549,-74.245066,662,NaN,NaN
122355,SI.S31R,40.515541,-74.245104,663,NaN,NaN
122356,SI.S31R,40.515533,-74.245141,664,NaN,NaN
122357,SI.S31R,40.515525,-74.245178,665,NaN,NaN
122358,SI.S31R,40.515517,-74.245214,666,NaN,NaN
122359,SI.S31R,40.515510,-74.245250,667,NaN,NaN
122360,SI.S31R,40.515502,-74.245285,668,NaN,NaN
122361,SI.S31R,40.515494,-74.245319,669,NaN,NaN
122362,SI.S31R,40.515486,-74.245353,670,NaN,NaN
122363,SI.S31R,40.515401,-74.245689,671,NaN,NaN
122364,SI.S31R,40.515198,-74.246451,672,NaN,NaN
122365,SI.S31R,40.514828,-74.247730,673,NaN,NaN
122366,SI.S31R,40.514753,-74.247975,674,NaN,NaN
122367,SI.S31R,40.514675,-74.248217,675,NaN,NaN
122368,SI.S31R,40.514593,-74.248456,676,NaN,NaN
122369,SI.S31R,40.514507,-74.248693,677,NaN,NaN
122370,SI.S31R,40.514418,-74.248927,678,NaN,NaN
122371,SI.S31R,40.514325,-74.249159,679,NaN,NaN
122372,SI.S31R,40.514229,-74.249388,680,NaN,NaN
122373,SI.S31R,40.514130,-74.249614,681,NaN,NaN
122374,SI.S31R,40.514027,-74.249838,682,NaN,NaN
122375,SI.S31R,40.513920,-74.250059,683,NaN,NaN
122376,SI.S31R,40.513810,-74.250277,684,NaN,NaN
122377,SI.S31R,40.513696,-74.250493,685,NaN,NaN
122378,SI.S31R,40.513579,-74.250706,686,NaN,NaN
122379,SI.S31R,40.513458,-74.250917,687,NaN,NaN
122380,SI.S31R,40.513334,-74.251124,688,NaN,NaN
122381,SI.S31R,40.512764,-74.251961,689,NaN,NaN